@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    position: relative;
}

h1 {
    font-size: 22px;
    margin: 20px 0;
}

#boxplot {
    display: flex;
    justify-content: center;
}

/* Tooltip Styling */
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    pointer-events: none;
}

.grid line {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* Nút Trở về Home */
.home-button {
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    top: 20px;
    /* Cách mép trên 20px */
    left: 20px;
    /* Cách mép trái 20px */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #287da7;
    /* Màu nền xanh */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Đổ bóng nhẹ */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Hiệu ứng chuyển màu và bóng */
}

.home-button:hover {
    background-color: #214088;
    /* Màu nền khi hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Đổ bóng khi hover */
}