body {
    text-align: center;
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #f1f1f1;
    position: relative;
}

h2 {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-left: 25%;
    border-radius: 20px;

}

.bar {
    stroke: white;
    cursor: pointer;
    transition: fill 0.3s;
}

.bar:hover {
    opacity: 0.7;
}

.selected {
    stroke: black;
    stroke-width: 3px;
}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    /* Màu nền trắng với độ trong suốt nhẹ */
    padding: 12px;
    border-radius: 8px;
    visibility: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* Bóng đổ mềm mại, độ mờ cao hơn */
    font-size: 14px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    border: 1px solid #ddd;
    z-index: 1000;
}

.axis text {
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    /* Sắp xếp theo chiều dọc */
    align-items: center;
    /* Căn giữa theo chiều ngang */
}

.details-box {
    width: 250px;
    height: 100px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #dfdfdf;
    font-size: 16px;
    margin-top: 100px;
    /* Đẩy xuống dưới */
}

#details {
    width: 300px;
    min-height: 180px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-in-out;
}

#details h3 {
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

#details-content {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    text-align: left;
}

#details-content strong {
    color: #000;
    font-weight: bold;
}

/* Nút Trở về Home */
.home-button {
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    top: 20px;
    /* Cách mép trên 20px */
    left: 20px;
    /* Cách mép trái 20px */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #287da7;
    /* Màu nền xanh */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Đổ bóng nhẹ */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Hiệu ứng chuyển màu và bóng */
}

.home-button:hover {
    background-color: #214088;
    /* Màu nền khi hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Đổ bóng khi hover */
}